language: node_js
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
env:
  global:
    #github
    - secure: "Q5ZTK0rwSljtJUVU38ToEpEGOZcJN6gNlcyeSN7Bb5H3yawhl5PY1Rrq8RFpSh6xbPw7Uoy5845G+fwiYKL2NSsv7JBaXyg6uokViQa9pittlnSiYefb1ey1mQHe9aiHrs+NgX+pqx/pWqwRb/VUaQI3AW3Z7s25q8aqLzPcrPL2UuE2draoEedWkS3nQ4MZFReFvRuQ2zvzjM0Q7eBXhOXMF/+BEZISUM+KK4OcLIMEM4XlzCejlvDP0MBwhHyHf0I9fTFf7M7xOiHHo4nu1/l8xskNfJOLp6K3Jd679o9JRaWgrFn2SQNJAObPrFw0SLXf65Ip9S5fNgNYvLIZFiTtT3WdhyQ/h6Y5bmVMpK26uS9cuempQZyudBelcOYDaQh4U3BVc/wzYvDFmIw20+o/cEXlxW8eO9G+tSDLF6R6LstHjqbch3lBs42duFxzOe2oajcrr5NrnYrv+dReosI0G0IkrZFD6YunJOFqfuo5JRaXELmowQ4n4LZS0gUlc3kpSS4qizy6TPznAOUwH+wlf8+WXOPfjUYhylqz3D9+07WaQrSzlXl03hvkWDegd2NoN1sDr0+c61WUfBMmn9GaY1MH8hsvQ5AR3x117i88+1EAY4YN4G1na/XKTnVHu1gapOMJxyAW2NEtRRHoIhFSQTPGUjT2twbvS6Yriyg="
    #npm
    - secure: "b+f3NAp77pCfBfE+VbsN5Bpbp4Zp9syNU+HJHNwHl/V76MpnJ5ME8HJWv69PQghyeXJWYsL8wVtMMUCOJ0OZ+cLHUg48AXFVNNzZwclh29rrqULHm2k3kQiPmllBZvL05IkcRywVDhwOlgD7Pmllsa1aRoMjR3ItpreQxdr6KKc8hLSwxTWMfMnat91ERf0V2+Bn+uN4LdmSzQyYGAZHSAgqBRxbO77ooG/FqwO3rQTEtCR8eMef8iqy+jsJow8iCy/rxhId5hgAfGIA8aLWTlgROHWAVXi7DpKL2wzsAYd798kBBug0MBAnEhAAsY8UmNQqlNS0kt50ed6t9nrGlYLJe0BXHyWcQx9/DBHxJ1bSyTi6e8FHyUcYBYAvwRV+Jn40q8cdCBDYHwqo/ltTODBUgMHretv1rhTyfi2vaivXZYgAIjMbgnK12vWUAkOdi9bA90/e3slO+sLgE6mszx5HU3v5zZliN7NkDB1qxa7nVGG5En+d7IYqCT9ypmwncqYO920yYW9zpQ1TXnvjq2cLC/yOQwxTaZ/y2cz46Zr9xpsqgjBPSh5Foi/lvYjHE/AB4hHY63XdneOmoa2uWQ5VfL+f+eISA1z8kdz9RZmeaUGxBx8IgTzyJ0BDhmM03XGhfqxybwLBaYyKdt2yYu+oc4shNPrpfAJ7hgtxTsY="
cache:
  npm: true
  directories:
    - dist
    - reports
jobs:
  include:
    - stage: prepare cache
      name: install
      before_install:
        - rm -rf dist reports
      install:
        - npm i
    - stage: website
      name: build
      script:
        # - echo $TRAVIS_PULL_REQUEST_BRANCH
        # - echo $TRAVIS_BRANCH
        # - echo $TRAVIS_COMMIT
        # - echo $TRAVIS_PULL_REQUEST_SHA
        - if [ -z "$TRAVIS_PULL_REQUEST_BRANCH" ]; then export PT_BRANCH=$TRAVIS_BRANCH; else export PT_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH; fi
        - if [ -z "$TRAVIS_PULL_REQUEST_SHA" ]; then export PT_COMMIT=$TRAVIS_COMMIT; else export PT_COMMIT=$TRAVIS_PULL_REQUEST_SHA; fi
        # - echo $PT_COMMIT
        # - echo $PT_BRANCH
        - npm run build --base=/nuxt-custom-elements/
    - stage: deploy
      if: branch = master
      install:
        - npm i semantic-release @semantic-release/exec @semantic-release/git @semantic-release/changelog --no-save
      script:
        - npx semantic-release --provider=github
        - mkdir gh-pages gh-pages/reports
        - cp -R dist/nuxt-custom-elements/* gh-pages/
        - cp -R reports/* gh-pages/reports/
        - touch gh-pages/.nojekyll
      deploy:
        provider: pages
        cleanup: false
        github_token: $GH_TOKEN
        local_dir: gh-pages/
        on:
          branch: master
        edge: true


